{% extends "emails/base_email.html" %}

{% block content %}
<div style="
    border-radius: 10px;
    text-align: left;
">
    <h2 style="color: #3f1963; margin-top: 0;">Olá {{ user.first_name }},</h2>
    <p>Recebemos uma solicitação para redefinir sua senha. Clique no botão abaixo para criar uma nova senha:</p>

    <p style="text-align: center; margin: 30px 0;">
        <a href="{{ reset_link }}" style="
            display: inline-block;
            padding: 12px 24px;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
            background-color: #3f1963;
            text-decoration: none;
            border-radius: 6px;
        ">Redefinir Senha</a>
    </p>

    <p style="font-size: 14px; color: #555555;">
        Se você não solicitou a redefinição de senha, apenas ignore este e-mail.
    </p>
</div>
{% endblock %}
